

@{
    ViewBag.Title = "Report";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div style="margin:20px">

        </div>
        <div class="row">

            <div class="col-sm-3">

                <img src="~/Content/lagos-state-logo.jpg" width="150" />
            </div>
            <div class="col-sm-6" style="text-align:center">
                <h4 style="color:green;">HARLEY & RAINBOW SPECIALIZED LABORATORIES</h4>
                <p style="color:red;">A MEMBER OF THE LAGOS COVID-19 LABORATORY CONSORTIUM LAGOS STATE</p>
                <p style="color:green;">
                    LABORATORY INVESTIGATION RESULT PAGE
                </p>
            </div>
            <div class="col-sm-3">
                <img src="~/Content/WhatsApp Image 2021-02-10 at 10.51.58 AM.jpeg" width="200" />
            </div>
        </div>
        <p style="text-decoration:underline;text-align:center">VIROLOGICAL SCREENING TEST FOR COVID-19 OUTBREAK</p>
        <p>Date: </p>
        <div class="row">
            <div class="col">
                <p>
                    NAME:
                </p>
                <p>
                    AGE:
                </p>
                <p>
                    ADDRESS:
                </p>
                <p>
                    PHONE NO:
                </p>
                <p>
                    EMAIL
                </p>
                <p>
                    NATIONALITY
                </p>
            </div>
            <div class="col">
                <p>
                    DATE OF SAMPLE COLLECTED<br />
                </p>
            </div>
            <div class="col">
                <p>
                    SAMPLES(S):<br />
                    SCREENING/REPEAT/FOLLOW
                </p>
                <table class="table table-condensed">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>NASOPHARYNGEAL</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>OROPHARYGEAL</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>SPUTUM</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>BLOOD</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>OTHERS</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>DATE OF RESULT:</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>POSITIVE</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>NEGATIVE</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>RESULT: </p>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>S/N</th>
                    <th>LAB CODE (SPECIMEN USED)</th>
                    <th>REFERENCE RANGE</th>
                    <th>TEST VALUE</th>
                    <th>COMMENT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
        <div>
            <p>
                General Comment:
            </p>
        </div>
        <div>
            <p>
                Name:
            </p>
            <p>
                Designation:
            </p>
            <p>
                Signature
            </p>
        </div>

        <div style="border-radius:10px;background-color:green">
            <p style="color:white;text-align:center">
                72, Adeniyi Jones Avenue, Opposite Lagoon Hospital, Ikeja, Lagos/Customer care lines: 07082091185, 07082014235<br />customercare@harleyandrainbowspecializedlaboratory.com / instagram@harleyrainbow<br />
                website: www.harleyandrainbowspecializedlaboratory.com
            </p>
        </div>
    </div>

</body>
</html>

