@{
    ViewBag.Title = "License error";
    Layout = "~/Views/Shared/_PartialConsole.cshtml";
}

<div class="jumbotron">
    You license key has expired, kindly renew your subscription by contacting the System Adminstrator via Email or Telephone
    <address>
       1, Salawe Avenue, Off Love All, Ketu<br />
       Lagos, NG<br />
        <abbr title="Phone">P:</abbr>
        080 6266 7809
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:olasupoolawale@outlook.com">olasupoolawale@outlook.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:olasupoolawale@outlook.com">olasupoolawale@outlook.com</a>
    </address>
</div>

