
@{
    ViewBag.Title = "ClientIndex";
    Layout = "~/Views/Shared/_PartialConsole.cshtml";
}

<h2>Client Index</h2>
<div class="form-horizontal jumbotron">

    <h4>Search by Client ID / Name / Phone Number:  </h4>
    <hr />

    <div class="input-group" style="align-content:center">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        </span>
        @Html.TextBox("Search", "", new { @class = "form-control", @required = "required", placeholder = "Client ID, Phone No., Full Name" })
        <button type="submit" class="btn btn-danger" id="search"><i class="glyphicon glyphicon-search"></i></button>
    </div>

   

</div>
<div id="results">

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>


    $(function () {
        $('#search').click(function () {
            var valueSearch = $('#Search').val();
            Search(valueSearch);
        });
    });
    function Search(valueSearch) {
        $.ajax({
            type: "POST",
            url: "/ClientDetails/ClientQuery?Search" + valueSearch,
            async: false,
            data: { Search: valueSearch },
            success: function (data) {
                alert("You are about to Search");
                $("#results").html(data);
            }
        });
    }
</script>





